
body
{
    background-image: linear-gradient(270deg, pink, aquamarine);
   
    font-size: 20px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1#principal{
    text-align: center;
    background-color: azure;
    color: rgb(216, 80, 80);
}


.paragrafo1
{
    color: rgb(216, 80, 80);
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

.paragrafo2
{
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(89, 126, 194);
}
